{% extends "base.html" %}
{% block content %}
<div class="container marketing"><font color="white">
  <br>
  <div class="row align-items-center" >
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">The Vision.</h2>
      <p class="lead font-weight-light" style="color:#BEBEBE">Getting away from the couch to travelling is beneficial for both the mind and soul. That fact is ubiquitous and more people are travelling. However, researching where best to visit can be diffucult. Often times, the best places are left out or time is wasted on a must-see desitination that just isn't for you.
        <span style="color:#DCDCDC"><b><em> Adventure Guru aims to enhance the travelling experience by using AI to offer personalized suggestions for travel destinations.</em></b></span>
          This way less time is wasted researching and more time is spent travelling. </p>
    </div>
    <div class="col-md-5 order-md-2">
      <img class="rounded featurette-image img-fluid mx-auto" src="/static/website_pics/mymission.jpeg" alt="Generic placeholder image">
    </div>
  </div>

  <blockquote class="blockquote text-center" style="margin:75px 0px 75px 0px;">
      <h3 class="font-weight-light"><i>"Life is either a daring adventure or nothing at all."</i></h3>
      <footer class="blockquote-footer">Helen Keller</footer>
  </blockquote>

  <div class="row align-items-center">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"> My Story.</h2>
      <p class="lead font-weight-light" style="color:#BEBEBE">I grew up in Vancouver, but just recently graduated from University of Toronto with a Mech Eng degree. I focused on studying robotics and that's where I discovered my interest in developing software.
        <span style="color:#DCDCDC"><b><em> My goal is to combine my passion for mathematics and writing code to solve everyday problems and replace outdated technologies.</em></b></span>
        On my free time, I like to cook fusion cuisine, hike, attend festivals, and obviously, travel the world. After traveling on my grad trip, I realized that there was so many places that I had missed and that's when the idea of Adventure Guru is born. </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="rounded featurette-image img-fluid mx-auto" src="/static/website_pics/aboutme.jpeg" alt="Generic placeholder image">
    </div>
  </div>
</div>
{% endblock %}
