{% extends "base.html" %}
{% block content %}
<div class="container marketing"><font color="white">
  <br>
  <div class="row align-items-center" >
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">The Vision.</h2>
      <p class="lead font-weight-light" style="color:#BEBEBE"> Of the 1.4 billion travelling in 2019, most of them know what to expect when purchasing an airline ticket or hotel room, but less when it comes to experience bookings and planning. The is because researching expeiences can be diffucult. Often times, the best places aren't a popular or time is wasted on a must-see desitination that actually isn't for you.
        <span style="color:#DCDCDC"><b><em> Adventure Guru aims to enhance the travelling experience by using ML to offer personalized suggestions for travel destinations.</em></b></span>
          This way less time is wasted researching and more time is spent travelling. </p>
    </div>
    <div class="col-md-5 order-md-2">
      <img class="rounded featurette-image img-fluid mx-auto" src="/static/website_pics/mymission.jpeg" alt="Generic placeholder image">
    </div>
  </div>

  <blockquote class="blockquote text-center" style="margin:75px 0px 75px 0px;">
      <a href="https://www.thinkwithgoogle.com/consumer-insights/travel-experience-marketing/" style="color:#DCDCDC"><h4 class="font-weight-light"><i>"In the 12 weeks leading up to a trip, there are 3x more experiences searches than hotel searches and 8x more experiences searches than air searches."</i></h4> </a>
      <footer class="blockquote-footer">Think with Google, Greenberg Research</footer>
  </blockquote>

  <div class="row align-items-center">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"> My Story.</h2>
      <p class="lead font-weight-light" style="color:#BEBEBE">I grew up in Vancouver, but just recently graduated from University of Toronto with a Mech Eng degree. I focused on studying robotics and that's where I discovered my interest in developing software.
        <span style="color:#DCDCDC"><b><em> My goal is to combine my passion for mathematics and writing code to solve everyday problems and replace outdated technologies.</em></b></span>
        On my free time, I like to cook fusion cuisine, hike, attend festivals, and travel the world. While travelling, I realized that there were still so many places that I had missed out on and that's when the idea of Adventure Guru is born. </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="rounded featurette-image img-fluid mx-auto" src="/static/website_pics/aboutme.jpeg" alt="Generic placeholder image">
    </div>
  </div>
</div>
{% endblock %}
